:root {
  --color-primary: #4f46e5;
  --color-primary-light: #6366f1;
  --color-secondary: #0ea5e9;
  --color-secondary-light: #38bdf8;
  --color-accent: #db2777;
  --color-accent-light: #ec4899;
  --color-headings: #172554;
  --color-light-1: #f1f5f9;
  --color-light-2: #e2e8f0;
  --color-light-3: #cbd5e1;
  --color-dark-1: #64748b;
  --color-dark-2: #334155;
  --color-dark-3: #1f2937;
  --color-white: #fff;
  --color-black: #000;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Urbanist, Arial, Helvetica, sans-serif;
  color: var(--color-dark-2);
  font-size: 1.4rem;
  line-height: 1.6;

  padding: 30px;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  /* font-size: 4.8rem; */
  font-size: 3.4rem;
}

h2 {
  /* font-size: 3.6rem; */
  font-size: 2.5rem;
}

h3 {
  /* font-size: 2.4rem; */
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--color-accent);
}

.link-arrow:hover {
  /* box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3); */
}

.link-arrow::after {
  content: "\2192";
  margin-left: 0.5rem;
  transition: margin 0.3s ease-out;
}

.link-arrow:hover::after {
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.6rem;
  }
}
