:root {
  --color-primary: #4f46e5;
  --color-primary-light: #6366f1;
  --color-secondary: #0ea5e9;
  --color-secondary-light: #38bdf8;
  --color-accent: #db2777;
  --color-accent-light: #ec4899;
  --color-headings: #172554;
  --color-light-1: #f1f5f9;
  --color-light-2: #e2e8f0;
  --color-light-3: #cbd5e1;
  --color-dark-1: #64748b;
  --color-dark-2: #334155;
  --color-dark-3: #1f2937;
  --color-white: #fff;
  --color-black: #000;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
}
