:root {
  --color-primary: #4f46e5;
  --color-primary-light: #6366f1;
  --color-primary-extra-light: #e0e7ff;
  --color-secondary: #0ea5e9;
  --color-secondary-light: #38bdf8;
  --color-accent: #db2777;
  --color-accent-light: #ec4899;
  --color-headings: #172554;
  --color-light-1: #f1f5f9;
  --color-light-2: #e2e8f0;
  --color-light-3: #cbd5e1;
  --color-dark-1: #64748b;
  --color-dark-2: #334155;
  --color-dark-3: #1f2937;
  --color-white: #fff;
  --color-black: #000;

  --border-radius-round: 30px;
  --border-radius-full: 50%;
  --border-radius-small: 5px;

  --border-light: 1px solid var(--color-light-2);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Urbanist, Arial, Helvetica, sans-serif;
  color: var(--color-dark-2);
  font-size: 1.4rem;
  line-height: 1.6;

  /* padding: 30px; */
}

h1,
h2,
h3 {
  color: var(--color-headings);
  line-height: initial;
}

h1 {
  /* font-size: 4.8rem; */
  font-size: 3.4rem;
}

h2 {
  /* font-size: 3.6rem; */
  font-size: 2.5rem;
}

h3 {
  /* font-size: 2.4rem; */
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--color-accent);
}

.link-arrow::after {
  content: "\2192";
  margin-left: 0.5rem;
  transition: margin 0.3s ease-out;
}

.link-arrow:hover::after {
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.6rem;
  }
}

/* Badges */
.badge {
  border-radius: var(--border-radius-round);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.3rem 1.2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary-light);
  color: var(--color-white);
  opacity: 0.8;
}

.badge--secondary {
  background-color: var(--color-secondary-light);
  color: var(--color-white);
  opacity: 0.8;
}

.badge--small {
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.6rem;
  }

  .badge--small {
    font-size: 1.4rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
}

.list--inline .list__item:not(:last-of-type) {
  margin-right: 2rem;
}

.list--tick .list__item::before {
  content: "\2713";
  color: green;
  margin-right: 1rem;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: var(--color-white);
}

.icon-container {
  width: 64px;
  height: 64px;
  background-color: var(--color-primary-extra-light);
  display: inline-flex;
  border-radius: var(--border-radius-full);
  justify-content: center;
  align-items: center;
}

/* Buttons */
.btn {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  border-radius: var(--border-radius-round);
  padding: 1.2rem 4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border: none;
  transition: all 0.3s ease-out;
  line-height: inherit;
  cursor: pointer;
}

.btn .icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-white);
  vertical-align: middle;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.2);
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn--secondary:hover {
  background-color: var(--color-secondary-light);
  color: var(--color-white);
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.btn--accent:hover {
  background-color: var(--color-accent-light);
  color: var(--color-white);
}

.btn--outline {
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn--outline:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
}

/* Inputs */
.input {
  display: block;
  padding: 1.2rem 2rem;
  font-size: 1.2rem;
  color: inherit;
  border: var(--border-light);
  border-radius: var(--border-radius-round);
  outline: none;
  font-family: inherit;
  width: 100%;
}

::placeholder {
  color: var(--color-light-3);
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.4rem;
  }
}

/* Input group */
.input-group {
  border: var(--border-light);
  border-radius: var(--border-radius-round);
  display: flex;
  align-items: center;
  width: 100%;
  /* max-width: 700px; */
}

.input-group .input {
  border: none;
  flex: 1;
}

.input-group .btn {
  margin: 3px;
}

/* Cards */
.card {
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 2rem 1rem var(--color-light-2);
  overflow: hidden;
}

.card__heading,
.card__body {
  padding: 2rem;
}

.card--primary .card__heading {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.card--secondary .card__heading {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

/* Plans */
.plan__name {
  color: var(--color-white);
  font-size: 1.6rem;
  letter-spacing: 0.5px;
}

.plan__price {
  font-size: 4rem;
}

.plan__billing-cycle {
  opacity: 0.8;
  font-weight: 300;
  margin-right: 1rem;
}

.plan__description {
  display: block;
  font-weight: 300;
  opacity: 0.8;
  letter-spacing: 1px;
}

.card__body .list__item {
  letter-spacing: 1px;
}

.card__body .list__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.plan--popular .card__heading {
  position: relative;
}

.plan--popular .card__heading::before {
  content: url(/img/popular.svg);
  display: inline-block;
  width: 3rem;
  position: absolute;
  top: -5px;
  right: 5%;
}

/* Utilities */
.mb-4 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

/* Media */
.media {
  display: flex;
  gap: 1rem;
}

.media .media__title {
  line-height: initial;
}

.media__image {
  margin-top: 0.5rem;
}

/* Quote */
.quote__text {
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.3;
  color: var(--color-dark-3);
  margin-bottom: 1rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__line {
  margin-top: -9px;
}

.quote__identity {
  gap: 0;
}

.quote__company {
  color: var(--color-primary);
  opacity: 0.4;
}

@media screen and (min-width: 1024px) {
  .quote__line {
    margin-top: -5px;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */
.testimonial {
  padding: 1.6rem;
  overflow: visible;
}

.testimonial__image-container {
  position: relative;
  margin-bottom: 2rem;
}

.testimonial__image {
  width: 100%;
  display: block;
}

.testimonial__icon {
  width: 5rem;
  height: 5rem;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-full);

  position: absolute;
  top: 2rem;
  right: -2.5rem;
}

.testimonial__icon img {
  width: 2rem;
  height: 2rem;
}

.testimonial__quote {
  /* margin-left: 4rem; */
}

@media screen and (min-width: 768px) {
  .testimonial {
    padding: 3rem;
  }

  .testimonial__quote {
    margin-left: 4.5rem;
  }

  .testimonial__image-container {
    margin-bottom: 0;
  }
}

/* Callout */
.callout {
  padding: 2rem;
  color: var(--color-white);
  border-radius: var(--border-radius-small);
}

.callout--primary {
  background-color: var(--color-primary);
}

.callout__heading,
.callout__text {
  text-align: center;
}

.callout__heading {
  color: var(--color-white);
  line-height: initial;
}

.callout__text {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .callout {
    padding: 3rem;
  }

  .callout .grid--cols-2 {
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }

  .callout__heading,
  .callout__text {
    text-align: start;
  }

  .callout__text {
    margin-bottom: 0;
  }

  .callout .btn {
    align-self: center;
    justify-self: center;
  }
}

/* Collapsibles */
.collapsible {
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.collapsible .icon-container {
  background-color: var(--color-dark-3);
  width: 2rem;
  height: 2rem;
}

.collapsible__chevron {
  width: 1rem;
  height: 1rem;
  fill: var(--color-white);

  transform: rotate(-90deg);
  transition: all 0.3s ease-out;
}

.collapsible__heading {
  font-size: 1.8rem;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block--dark {
  background-color: var(--color-black);
  color: var(--color-light-2);
}

.block__dark .block__heading {
  color: var(--color-white);
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0 100%);
}

@media screen and (min-width: 768px) {
  .block--skewed-right {
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 0 100%);
  }
}

.block--skewed-right {
  padding-bottom: 10rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block__heading-container {
  text-align: center;
}

.block__heading {
  color: var(--color-white);
  line-height: initial;
}

@media screen and (min-width: 1024px) {
  .block.hero {
    padding-top: 0;
  }

  .block__heading {
    font-size: 5rem;
  }
}

/* Navigation */
.header {
  position: fixed;
  width: 100%;
}

.header__content {
  background-color: var(--color-black);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo__brand {
  font-size: 3rem;
  color: var(--color-accent);
}

.logo__image {
  height: 4rem;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  list-style: none;
  color: var(--color-light-3);
  display: flex;
  gap: 4rem;
}

.nav__item {
}

.nav__item:hover {
  color: var(--color-white);
  cursor: pointer;
}

.hamburger {
  display: none;
}

.bar {
  height: 2px;
  width: 2.7rem;
  background-color: var(--color-light-3);
  transition: all 0.3s ease-in-out;
}

.bar:not(:last-child) {
  margin-bottom: 5px;
}

.nav--open {
  transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .header__content {
    position: relative;
  }

  .nav {
    position: absolute;
    width: 100%;
    top: 6rem;
    left: 0;
    background-color: var(--color-black);
    padding: 5rem 0;
    flex-direction: column;
    height: 100vh;

    transform: translatex(-100%);
    z-index: 50;
  }

  .nav__list {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .nav__item {
    font-size: 2rem;
  }
}

/* Hero */
.hero__tagline {
  font-size: 1.8rem;
  margin: 1rem 0 2.5rem 0;
}

.hero__image {
  width: 80%;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .hero__tagline {
    font-size: 2rem;
  }

  .hero__content {
    align-self: center;
    text-align: left;
  }
}

/* Domain Block */
.domain {
  text-align: center;
}

.btn__container {
  max-width: 700px;
  margin: 0 auto;
}

.input-group__container {
  max-width: 700px;
  display: flex;
  justify-content: center;
  margin: 0 auto 4rem;
}

.domain .input-group {
  box-shadow: 0 0 3rem 2rem var(--color-light-2);
}

.domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 5rem);
  max-width: 750px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .domain__btn-text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

/* Plans Section */
.plans {
  padding: 2rem;
  gap: 4rem;
}

.plans .plan {
  max-width: 40rem;
  justify-self: center;
  width: 100%;
  transition: all 0.3s ease-out;
}

.plans .plan:hover {
  transform: scale(1.05);
}

.plans .plan--popular:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .plans .plan {
    max-width: 40rem;
    /* justify-self: stretch; */
    width: 100%;
  }

  .plans .plan--popular {
    transform: scale(1.05);
  }
}

/* Features */
.features {
  gap: 4rem;
  align-items: center;
}

.feature__content {
  /* align-self: center; */
  padding: 2rem;
}

.feature__image {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .features {
    gap: 1rem;
  }

  .feature__content {
    /* align-self: center; */
    padding: 0.5rem;
  }
}
