<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Get updates</h2>
    <span class="icon-container">
      <svg class="icon collapsible__chevron">
        <use xlink:href="/img/sprite.svg#icon-chevron-thin-down"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, commodi
    perferendis doloremque accusamus ullam veritatis, qui corporis cum quaerat
    illum sint blanditiis. Vitae officia ullam labore qui et optio nulla!
  </div>
</div>
