<header class="header">
  <div class="header__content">
    <a class="logo" href="#">
      <img class="logo__image" src="/img/logo.png" alt="Brand logo" />
      <h1 class="logo__brand">Cloudify</h1>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">Hosting</li>
        <li class="nav__item">VPS</li>
        <li class="nav__item">Domain</li>
        <li class="nav__item">Pricing</li>
      </ul>
    </nav>
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</header>
